################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend(.net)/BayTack/.vs/BayTack/CopilotIndices/17.14.1686.8233/CodeChunks.db
/backend(.net)/BayTack/.vs/BayTack/CopilotIndices/17.14.1686.8233/SemanticSymbols.db
/backend(.net)/BayTack/.vs/BayTack.slnx/FileContentIndex/10d7df1b-f7ee-47fc-8d34-6db9488c1ade.vsidx
/backend(.net)/BayTack/.vs/BayTack.slnx/FileContentIndex/3d80752e-c8ac-4699-85be-b37c54bee015.vsidx
/backend(.net)/BayTack/.vs/BayTack.slnx/FileContentIndex/573202e0-aafd-479f-9ebb-f0eef53be3ed.vsidx
/backend(.net)/BayTack/.vs/BayTack.slnx/FileContentIndex/9410cf80-5329-4486-9946-55e42da90df0.vsidx
/backend(.net)/BayTack/.vs/BayTack.slnx/FileContentIndex/b6abdb96-f18d-47df-8eda-12563ffba85e.vsidx
/backend(.net)/BayTack/.vs/BayTack.slnx/v17/.futdcache.v2
/backend(.net)/BayTack/.vs/BayTack.slnx/v17/.suo
/backend(.net)/BayTack/.vs/BayTack.slnx/v17/DocumentLayout.backup.json
/backend(.net)/BayTack/.vs/BayTack.slnx/v17/DocumentLayout.json
