﻿﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend(.net)/BayTack/.vs/BayTack/CopilotIndices/17.14.1686.8233/CodeChunks.db
/backend(.net)/BayTack/.vs/BayTack/CopilotIndices/17.14.1686.8233/SemanticSymbols.db
/backend(.net)/BayTack/.vs/BayTack.slnx/FileContentIndex/10d7df1b-f7ee-47fc-8d34-6db9488c1ade.vsidx
/backend(.net)/BayTack/.vs/BayTack.slnx/FileContentIndex/3d80752e-c8ac-4699-85be-b37c54bee015.vsidx
/backend(.net)/BayTack/.vs/BayTack.slnx/FileContentIndex/573202e0-aafd-479f-9ebb-f0eef53be3ed.vsidx
/backend(.net)/BayTack/.vs/BayTack.slnx/FileContentIndex/9410cf80-5329-4486-9946-55e42da90df0.vsidx
/backend(.net)/BayTack/.vs/BayTack.slnx/FileContentIndex/b6abdb96-f18d-47df-8eda-12563ffba85e.vsidx
/backend(.net)/BayTack/.vs/BayTack.slnx/v17/.futdcache.v2
/backend(.net)/BayTack/.vs/BayTack.slnx/v17/.suo
/backend(.net)/BayTack/.vs/BayTack.slnx/v17/DocumentLayout.backup.json
/backend(.net)/BayTack/.vs/BayTack.slnx/v17/DocumentLayout.json
/backend(.net)/BayTack/.vs/BayTack.slnx/v18/DocumentLayout.json
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/BayTack.Application.AssemblyInfoInputs.cache
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/BayTack.Application.assets.cache
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/BayTack.Application.csproj.CoreCompileInputs.cache
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/BayTack.Application.GeneratedMSBuildEditorConfig.editorconfig
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/BayTack.Application.AssemblyInfo.cs
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/BayTack.Application.csproj.FileListAbsolute.txt
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/BayTack.Application.sourcelink.json
/backend(.net)/BayTack/BayTack.Domain/obj/Debug/net10.0/BayTack.Domain.AssemblyInfo.cs
/backend(.net)/BayTack/BayTack.Domain/obj/Debug/net10.0/BayTack.Domain.AssemblyInfoInputs.cache
/backend(.net)/BayTack/BayTack.Domain/obj/Debug/net10.0/BayTack.Domain.assets.cache
/backend(.net)/BayTack/BayTack.Domain/obj/Debug/net10.0/BayTack.Domain.GeneratedMSBuildEditorConfig.editorconfig
*.json
/backend(.net)/BayTack/BayTack.Infrastructure/obj/Debug/net10.0/BayTack.Infrastructure.AssemblyInfo.cs
/backend(.net)/BayTack/BayTack.Infrastructure/obj/Debug/net10.0/BayTack.Infrastructure.AssemblyInfoInputs.cache
/backend(.net)/BayTack/BayTack.Infrastructure/obj/Debug/net10.0/BayTack.Infrastructure.assets.cache
/backend(.net)/BayTack/BayTack.Infrastructure/obj/Debug/net10.0/BayTack.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/backend(.net)/BayTack/ChatApp.API/obj/Debug/net10.0/ChatApp.API.AssemblyInfoInputs.cache
/backend(.net)/BayTack/ChatApp.API/obj/Debug/net10.0/ChatApp.API.AssemblyInfo.cs
/backend(.net)/BayTack/ChatApp.API/obj/Debug/net10.0/ChatApp.API.assets.cache
/backend(.net)/BayTack/ChatApp.API/obj/Debug/net10.0/ChatApp.API.csproj.AssemblyReference.cache
/backend(.net)/BayTack/ChatApp.API/obj/Debug/net10.0/ChatApp.API.GeneratedMSBuildEditorConfig.editorconfig
/backend(.net)/BayTack/ChatApp.API/obj/Debug/net10.0/rpswa.dswa.cache.json
/backend(.net)/BayTack/.vs/BayTack.slnx/v18/.suo
/backend(.net)/BayTack/.vs/BayTack.slnx/v18/DocumentLayout.backup.json
/backend(.net)/BayTack/BayTack.Application/bin/Debug/net10.0/BayTack.Application.pdb
/backend(.net)/BayTack/BayTack.Application/bin/Debug/net10.0/BayTack.Application.dll
/backend(.net)/BayTack/BayTack.Application/bin/Debug/net10.0/BayTack.Domain.dll
/backend(.net)/BayTack/BayTack.Application/bin/Debug/net10.0/BayTack.Domain.pdb
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/ref/BayTack.Application.dll
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/refint/BayTack.Application.dll
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/BayTack.Application.csproj.AssemblyReference.cache
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/BayTack.Application.pdb
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/BayTack..8F49DD11.Up2Date
/backend(.net)/BayTack/BayTack.Application/obj/Debug/net10.0/BayTack.Application.dll
/backend(.net)/BayTack/BayTack.Application/obj/BayTack.Application.csproj.nuget.dgspec.json
/backend(.net)/BayTack/BayTack.Application/obj/project.assets.json
/backend(.net)/BayTack/BayTack.Application/obj/project.nuget.cache
/backend(.net)/BayTack/BayTack.Domain/bin/Debug/net10.0/BayTack.Domain.dll
/backend(.net)/BayTack/BayTack.Domain/bin/Debug/net10.0/BayTack.Domain.pdb
/backend(.net)/BayTack/BayTack.Domain/obj/Debug/net10.0/ref/BayTack.Domain.dll
/backend(.net)/BayTack/BayTack.Domain/obj/Debug/net10.0/refint/BayTack.Domain.dll
/backend(.net)/BayTack/BayTack.Domain/obj/Debug/net10.0/BayTack.Domain.csproj.CoreCompileInputs.cache
/backend(.net)/BayTack/BayTack.Domain/obj/Debug/net10.0/BayTack.Domain.csproj.FileListAbsolute.txt
/backend(.net)/BayTack/BayTack.Domain/obj/Debug/net10.0/BayTack.Domain.dll
/backend(.net)/BayTack/BayTack.Domain/obj/Debug/net10.0/BayTack.Domain.pdb
/backend(.net)/BayTack/BayTack.Domain/obj/project.assets.json
/backend(.net)/BayTack/BayTack.Domain/obj/project.nuget.cache
/backend(.net)/BayTack/BayTack.Domain/obj/BayTack.Domain.csproj.nuget.dgspec.json
/backend(.net)/BayTack/BayTack.Infrastructure/obj/Debug/net10.0/BayTack.Infrastructure.csproj.AssemblyReference.cache
/backend(.net)/BayTack/BayTack.Infrastructure/obj/BayTack.Infrastructure.csproj.nuget.dgspec.json
/backend(.net)/BayTack/BayTack.Infrastructure/obj/project.assets.json
/backend(.net)/BayTack/BayTack.Infrastructure/obj/project.nuget.cache
/backend(.net)/BayTack/ChatApp.API/obj/ChatApp.API.csproj.nuget.dgspec.json
/backend(.net)/BayTack/ChatApp.API/obj/project.assets.json
/backend(.net)/BayTack/ChatApp.API/obj/project.nuget.cache


.vs/
[Ob]j/
[Bb]in/
